---
layout: default
title: Home
---

The roots of this project lie somewhere between London, Oxford and Venice.

In March 2022, members of the University of Oxford and Goodenough College met in Venice to discuss their ideas about the regulation of AI. The Colloquium assembled researchers working in AI, philosophy, legal regulation and public policy to consider how best the development of AI might be framed and regulated across different governments and societies. The gathering allowed for genuine cross-disciplinary exchange as participants were tasked in presenting and discussing there area of specialty. The Colloquium was facilitated by three leading figures in the fields of AI (Sir Nigel Shadbolt), Science (Dr. Julie Maxton) and of Law (The Rt. Hon Lord Neuberger of Abbotsbury), and all participants contributed fully and generously at the sessions.

In the following weeks, we will share their thoughts with you.

Tess and Konrad

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

