---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
    
    <!-- Post Featured Image -->
    {% if page.image %}

    {% if site.lazyimages == "enabled" %}
    <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% else %}
    <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% endif %}

    {% endif %}

    <div class="article-post">
    {{content}}

<div class="container">
	<div class="row">

		{% for author in site.authors %}

		{% unless author[0] == 'tesskonrad' %}

		<div class="col-lg-3 col-sm-6">
			<div class="single-member">
				<div class="thumb relative" style="background: url({{site.baseurl}}/{{author[1].avatar}});">
					<div class="overlay overlay-member legaltech d-flex flex-column justify-content-end align-items-center">
						<p class="text-white">{{ author[1].description }}</p>
						<div class="line"></div>
						<div class="social d-flex align-items-center justify-content-center">
							{% if author[1].web %}
							<a href="{{ author[1].web }}" target="_blank"><i class="fab fa-linkedin"></i></a>
							{% endif %}
							{% if author[1].twitter %}
							<a href="{{ author[1].twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="desc text-center">
					<h5 class="text-uppercase">{{ author[1].name }}</h5>
				</div>
			</div>
		</div>

		{% endunless %}

		{% endfor %}


	</div>

</div>

    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>
